.name {
  text-decoration: none;
  color: #212529;
  font-size: 20px;
  font-family: "vremenagrotesk",sans-serif;
  font-weight: 600;
  line-height: 1.3;
}

.name:hover {
  text-decoration: underline 1px;
  cursor: pointer;
}

.imgItem{
  height: 27rem;
}
