.container {
  margin-top: 0;
}

.navStyle {
  text-decoration: none;
  margin: 10px;
  color: #000;
}

.nav {
  background: #ffedfb;
  text-align: center;
}

.navStyle:hover {
  color: #c4c4c4;
}

.spinner {
  color: #dc8dcc;
}

.linkStyle{
  text-decoration: none;
  color: white;
}
